In [ ]:
import pandas as pd
import numpy as np

## Задание 1
Скачать данные по ссылке https://www.kaggle.com/datasets/ionaskel/laptop-prices
Считать данные с помощью pandas
Вывести на экран первые 5 строк
Посмотреть на описание признаков и на их содержание

In [ ]:
df = pd.read_csv('test.csv', sep=',')
df

,laptop_ID,Company,Product,TypeName,Inches,ScreenResolution,Cpu,Ram,Memory,Gpu,OpSys,Weight,Price_euros
0,1,Apple,MacBook Pro,Ultrabook,13.3,IPS Panel Retina Display 2560x1600,Intel Core i5 2.3GHz,8GB,128GB SSD,Intel Iris Plus Graphics 640,macOS,1.37kg,1339.69
1,2,Apple,Macbook Air,Ultrabook,13.3,1440x900,Intel Core i5 1.8GHz,8GB,128GB Flash Storage,Intel HD Graphics 6000,macOS,1.34kg,898.94
2,3,HP,250 G6,Notebook,15.6,Full HD 1920x1080,Intel Core i5 7200U 2.5GHz,8GB,256GB SSD,Intel HD Graphics 620,No OS,1.86kg,575.00
3,4,Apple,MacBook Pro,Ultrabook,15.4,IPS Panel Retina Display 2880x1800,Intel Core i7 2.7GHz,16GB,512GB SSD,AMD Radeon Pro 455,macOS,1.83kg,2537.45
4,5,Apple,MacBook Pro,Ultrabook,13.3,IPS Panel Retina Display 2560x1600,Intel Core i5 3.1GHz,8GB,256GB SSD,Intel Iris Plus Graphics 650,macOS,1.37kg,1803.60
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1298,1316,Lenovo,Yoga 500-14ISK,2 in 1 Convertible,14.0,IPS Panel Full HD / Touchscreen 1920x1080,Intel Core i7 6500U 2.5GHz,4GB,128GB SSD,Intel HD Graphics 520,Windows 10,1.8kg,638.00
1299,1317,Lenovo,Yoga 900-13ISK,2 in 1 Convertible,13.3,IPS Panel Quad HD+ / Touchscreen 3200x1800,Intel Core i7 6500U 2.5GHz,16GB,512GB SSD,Intel HD Graphics 520,Windows 10,1.3kg,1499.00
1300,1318,Lenovo,IdeaPad 100S-14IBR,Notebook,14.0,1366x768,Intel Celeron Dual Core N3050 1.6GHz,2GB,64GB Flash Storage,Intel HD Graphics,Windows 10,1.5kg,229.00
1301,1319,HP,15-AC110nv (i7-6500U/6GB/1TB/Radeon,Notebook,15.6,1366x768,Intel Core i7 6500U 2.5GHz,6GB,1TB HDD,AMD Radeon R5 M330,Windows 10,2.19kg,764.00
1302,1320,Asus,X553SA-XX031T (N3050/4GB/500GB/W10),Notebook,15.6,1366x768,Intel Celeron Dual Core N3050 1.6GHz,4GB,500GB HDD,Intel HD Graphics,Windows 10,2.2kg,369.00

In [ ]:
df.head() # вывели 5 строк

,laptop_ID,Company,Product,TypeName,Inches,ScreenResolution,Cpu,Ram,Memory,Gpu,OpSys,Weight,Price_euros
0,1,Apple,MacBook Pro,Ultrabook,13.3,IPS Panel Retina Display 2560x1600,Intel Core i5 2.3GHz,8GB,128GB SSD,Intel Iris Plus Graphics 640,macOS,1.37kg,1339.69
1,2,Apple,Macbook Air,Ultrabook,13.3,1440x900,Intel Core i5 1.8GHz,8GB,128GB Flash Storage,Intel HD Graphics 6000,macOS,1.34kg,898.94
2,3,HP,250 G6,Notebook,15.6,Full HD 1920x1080,Intel Core i5 7200U 2.5GHz,8GB,256GB SSD,Intel HD Graphics 620,No OS,1.86kg,575.00
3,4,Apple,MacBook Pro,Ultrabook,15.4,IPS Panel Retina Display 2880x1800,Intel Core i7 2.7GHz,16GB,512GB SSD,AMD Radeon Pro 455,macOS,1.83kg,2537.45
4,5,Apple,MacBook Pro,Ultrabook,13.3,IPS Panel Retina Display 2560x1600,Intel Core i5 3.1GHz,8GB,256GB SSD,Intel Iris Plus Graphics 650,macOS,1.37kg,1803.60

In [ ]:
df.info() # вывели информацию

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1303 entries, 0 to 1302
Data columns (total 13 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   laptop_ID         1303 non-null   int64
 1   Company           1303 non-null   object
 2   Product           1303 non-null   object
 3   TypeName          1303 non-null   object
 4   Inches            1303 non-null   float64
 5   ScreenResolution  1303 non-null   object
 6   Cpu               1303 non-null   object
 7   Ram               1303 non-null   object
 8   Memory            1303 non-null   object
 9   Gpu               1303 non-null   object
 10  OpSys             1303 non-null   object
 11  Weight            1303 non-null   object
 12  Price_euros       1303 non-null   float64
dtypes: float64(2), int64(1), object(10)
memory usage: 132.5+ KB

In [ ]:
df.describe() # Значения данных

         laptop_ID       Inches  Price_euros
count  1303.000000  1303.000000  1303.000000
mean    660.155794    15.017191  1123.686992
std     381.172104     1.426304   699.009043
min       1.000000    10.100000   174.000000
25%     331.500000    14.000000   599.000000
50%     659.000000    15.600000   977.000000
75%     990.500000    15.600000  1487.880000
max    1320.000000    18.400000  6099.000000

In [ ]:
df.isnull().sum() # Нулевые значения

laptop_ID           0
Company             0
Product             0
TypeName            0
Inches              0
ScreenResolution    0
Cpu                 0
Ram                 0
Memory              0
Gpu                 0
OpSys               0
Weight              0
Price_euros         0
dtype: int64

# Задание 2
Проведите первичный анализ данных
Изучите типы данных

*   Изучите типы данных
*   Найдите количество пропущенных ячеек в данных

*   Найдите количество пропущенных ячеек в данных


*   Посчитайте основные статистики по всем признакам и поизучайте их

In [ ]:
df.isnull().sum().sum()

0

In [ ]:
df.dtypes

laptop_ID             int64
Company              object
Product              object
TypeName             object
Inches              float64
ScreenResolution     object
Cpu                  object
Ram                  object
Memory               object
Gpu                  object
OpSys                object
Weight               object
Price_euros         float64
dtype: object

# Задание 3

*   3.1 Ноутбуков от какой компании больше всего в наборе данных?

*  3.2 Какая минимальная и максимальная стоимость у ноутбуков в данных?

*   3.3 Какой самый дорогой ноутбук в данных?

Выведите все характеристики только по этому ноутбуку
Если таких ноутбуков несколько, то выводите их всех

In [ ]:
df['Company'].value_counts()[:2] #3.1

Dell      297
Lenovo    297
Name: Company, dtype: int64

In [ ]:
df['Price_euros'].min() # минимальная цена

174.0

In [ ]:
df['Price_euros'].max() # макс цена

6099.0

In [ ]:
df.loc[df['Price_euros'].min() == df['Price_euros'], 'Company'] # дорогой ноут

1215    Acer
Name: Company, dtype: object

In [ ]:
df.loc[df['Price_euros'].max() == df['Price_euros'], 'Company']

196    Razer
Name: Company, dtype: object

In [ ]:
df['Company'][df['Price_euros'].min() == df['Price_euros']]

1215    Acer
Name: Company, dtype: object

In [ ]:
df[['Company', 'Price_euros']][df['Price_euros'].max() == df['Price_euros']]

    Company  Price_euros
196   Razer       6099.0

#Задание 4


*   4.1 Найдите ноутбуки с самой маленькой диагональю в данных?
Выведите только следующие характеристики:
Компания
Типа ноутбука
Диагональ
Стоимость
Если таких ноутбуков несколько, то выводите их всех
*  4.2 Сколько стоит самый дорогой ноутбук у компании HP?
* 4.3 Как много ноутбуков Ultrabook с 8GB RAM?
Найдите сколько таких ультрабуков с 8GB ОЗУ в процентном соотношении относительно всех ультрабуков

In [ ]:
df[['Company', 'TypeName', 'Inches', 'Price_euros']][df['Inches'].min() == df['Inches']]#4.1

     Company            TypeName  Inches  Price_euros
50    Lenovo  2 in 1 Convertible    10.1       319.00
1082  Lenovo  2 in 1 Convertible    10.1       646.27
1114  Lenovo  2 in 1 Convertible    10.1       549.00
1126  Lenovo  2 in 1 Convertible    10.1       479.00

In [ ]:
df['Price_euros'][df['Company'] == 'HP'].max() #4.2

4389.0

In [ ]:
df[['laptop_ID', 'Price_euros']][df['Company'] == 'HP'].max() #4.2

laptop_ID      1319.0
Price_euros    4389.0
dtype: float64

In [ ]:
df['laptop_ID'][(df['TypeName'] == 'Ultrabook') & (df['Ram'] == '8GB')].count() # 4.3

140

In [ ]:
# Найдите сколько таких ультрабуков с 8GB ОЗУ в процентном соотношении относительно всех ультрабуков
result = df['laptop_ID'][(df['TypeName'] == 'Ultrabook') & (df['Ram'] == '8GB')].count()
result_all = df['laptop_ID'][df['TypeName'] == 'Ultrabook'].count()
result / result_all

0.7142857142857143

#Задача 5
* 5.1 Выберите ноутбук клиенту
Клиент хочет подобрать ноутбук с 8GB или 16GB ОЗУ на Windows 10 в стоимости до 500 евро, сколько у него вариантов?
* 5.2 Выберите ноутбук клиенту
Клиент хочет подобрать ноутбук от MSI, с видеокартой Nvidia GeForce GTX 1050 Ti и главное не с диагональю 15.6. В какой ценовой категории вышли подобные ноутбуки?
* 5.3 Что дешевле?
В среднем дешевле ноутбуки с CPU Intel Core i7 7700HQ 2.8GHz или с Intel Core i7 7600U 2.8GHz?

In [ ]:
df['laptop_ID'][(((df['Ram'] == '8GB') | (df['Ram'] == '16GB')) & (df['OpSys'] == 'Windows 10') & (df['Price_euros'] < 500))].count() #5.1

13

In [ ]:
df['Price_euros'][(df['Company'] == 'MSI') & (df['Gpu'] == 'Nvidia GeForce GTX 1050 Ti') & (df['Inches'] != 15.6)]#5.2

330     1199.00
393     1349.00
724     1348.48
917     1599.00
1156    1492.80
Name: Price_euros, dtype: float64

In [ ]:
result = df['Price_euros'][(df['Company'] == 'MSI') & (df['Gpu'] == 'Nvidia GeForce GTX 1050 Ti') & (df['Inches'] != 15.6)]
print(f'От {result.min()}$ до {result.max()}$') #5.2

От 1199.0$ до 1599.0$

In [ ]:
df['Price_euros'][df['Cpu'] == 'Intel Core i7 7700HQ 2.8GHz'].mean() > df['Price_euros'][df['Cpu'] == 'Intel Core i7 7600U 2.8GHz'].mean() #5.3

False

In [ ]:

df['Price_euros'][df['Cpu'] == 'Intel Core i7 7700HQ 2.8GHz'].mean()

1760.4084246575342

In [ ]:
df['Price_euros'][df['Cpu'] == 'Intel Core i7 7600U 2.8GHz'].mean()

1915.710769230769

# Задание 6
Найдите самый легкий ноутбук
Но обратите внимание на тип и представление данных в признаке Weight, если что, замените в строке 'kg' на пустую строку через метод .str.replace()

In [ ]:
weight = min([float(i.replace('kg', '')) for i in df['Weight']])
df[['Company', 'Product']]['0.69kg' == df['Weight']]

     Company    Product
50    Lenovo  Yoga Book
1082  Lenovo  Yoga Book
1114  Lenovo  Yoga Book
1126  Lenovo  Yoga Book